#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.nav-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}
.homeClass-input1{
  width:66%;
  padding: 8px;
  border-radius: 1rem;
  margin-top:8px ;
}
.homeClass-input2{

  padding: 8px;
  border-radius: 1rem;
  margin-top:8px ;

}
.Home{
  display: flex;
  /* flex-direction: row; */
  gap: 28px;
}
.text-area{
  border-radius: 1rem;
  margin-top: 16px;
  min-width: 500px;
  padding: 16px;

}
.paste-input{
  padding: 8px;
  border-radius: 14px;
  min-width: 600px;
  margin-top: 20px;
}
.paste-cards{
  display: flex;
  flex-direction: column;
  gap:20px;
  margin-top: 20px;
}
.paste-cards-title{
  border:1px solid white;
}
.paste-cards-button{
  display: flex;
  flex-direction: row;
  gap:20px;
  justify-content: space-evenly;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
